/* for the style of my webpage, i liked the idea of a more montone/monochromatic
colour palette. being a rabbit, i settled on shades of green, grey and dark brown. 
I chose typewriter-type fonts because I like them, and because I thought that
because Bugs Bunny was born in the 1940's - he would be familiar with typewriter fonts...
no other justifiable reason, lol. I decided on a mixture of bolded fonts, darker/lighter colours
and lists to establish a hierarchy to the viewer/user to lead their eye around the webpage.

i watched this tutotial, as mentioned in my HTML code,
to get a better idea of CSS styles and how much variation you have when designing how
your webpage looks. https://www.youtube.com/watch?v=FHb9JobDs2o&ab_channel=WEBCIFAR, as well as
naming conventions for elements/attributes/sections of code */

body { margin: 0;
       padding: 0;
       background-color: #fff font-size: 12px;
       font-family: 'Courier New', sans-serif;
}
* { box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.container {
       width: 80%
       margin: 0 auto;
}

header {
       background: #55d6aa;
}

nav {
       float: right;
}

/*
breaking down my title/heading, subheading and "sub-subheading" sections to allocate
various style decisions. ~24:00 minute mark in this video breaks down each of the listed
sections in h1/h2/h3 https://www.youtube.com/watch?v=wRNinF7YQqQ&ab_channel=BroCode which
i used to structure my CSS and learn how these style elements work.

I also used my beloved W3 schools with the following links:
font weight: https://www.w3schools.com/cssref/pr_font_weight.php
margins: https://www.w3schools.com/cssref/pr_margin.php
font size: https://www.w3schools.com/cssref/pr_font_font-size.php
colours: https://www.w3schools.com/cssref/pr_text_color.php
padding: https://www.w3schools.com/cssref/pr_padding.php
border-radius: https://www.w3schools.com/cssref/css3_pr_border-radius.php
font-family: https://www.w3schools.com/cssref/pr_font_font-family.php

*/
h1 { font-weight: 300;
     margin: 5px 0 0;
     font-size: 40px;
     color:#023226;
     padding: 0 10px 10px;
     border-radius:2px;
    font-family: 'Courier New', serif;
}
h2 { color: #057f5f;
     width: 150px;
     font-size: 18px;
     padding-left: 20px;
     padding-top: 12px;
     font-weight:700;
     font-family: 'Courier New', serif;
}
h3 { font-size: 18px;
     font-weight: bold;
     margin-bottom: 0;
     line-height: 28px;
     font-family: 'Courier New', serif;
}
h2, h3 { margin-top: 5px }
a { color: #057f5f;
    display: inline-block;
    padding:2px 4px;
    border-radius:2px;
    margin-right:-2px;
}
/* CSS selector - a:hover selects elements/links when the mouse is hovering over it, 
referencing https://www.w3schools.com/cssref/sel_hover.php i decided to use this 
for my resume's email and link to the 'about me' page to catch the viewers eye if they
hover over these areas!*/
a:hover {
  background-color:#FFB6C1;
  color:#fff;
}

/* this was by far my most challenging section of my entire assignment.
when reading through selectors, at https://www.w3schools.com/cssref/css_selectors.php  i 
saw the terms 'family', 'first child' and 'last child' which i became interested in, because
the same sounded so strange in a coding sense. */ 
.key:first-child { margin-left: 0 }
.key { margin: 0 10px;
       position: relative;
}
.key::before { content: '◆';
               position: absolute;
               left: -15px;
               color: #555;
               font-size: 12pt;
}
.key:first-child::before { content: '' }
.section { border-bottom: 1px solid #ddd;
           padding: 10px 0 15px;
}
.section:last-child { border: none }
.section-text { width: 80%;
                font-size: 18px;
                line-height: 24px;
                margin: 10px 0 10px;
                padding: 0 10px;
}
.subsection { margin: 10px 0 5px }
.desc { font-size: 16px; font-family: 'Courier New', sans-serif; color:#444;}
.contact-info { font-size: 16px;
                text-align: right;
}
.light { color: #aaa;letter-spacing:1px;
         font-size: 14px;
         line-height:28px;
         font-family: 'Source Sans Pro', sans-serif;
         text-transform:uppercase;
}
ul{
  padding-left:15px;
}

ul.skills{
  float:left;
  width:30%;
  padding-left:0px;
  margin: 0 20px 0 0;
}

ul.skills li{
  list-style: none;
  font-size:16px;
  margin-bottom:10px;
}

ul.skills li:last-child{
  margin:0;
}

/*
 Float Rules
*/
.row:before, .row:after { content: "";
                          display: table;
}
.row:after { clear: both }
.col { float: left }
.col-right { float: right }

/*
 Page Rules https://www.geeksforgeeks.org/css-page-rule/
*/
.page { width: 1000px;
        min-height: 29.7cm;
        margin: 1cm auto;

        background: white;
        padding: 20px 50px;
}
.subpage { padding: 1cm;
           border: 1px red solid;
           height: 297mm;
}

/*the @page rule, which i learned about here: https://www.smashingmagazine.com/2015/01/designing-for-print-with-css/
lets you specify your page box's aspects. i chose to size my page as A4, which is 
a normal piece of paper (approx 8.5x11) */ 
@page { size: A4;
        margin: 0;
}

/* https://www.w3schools.com/cssref/css3_pr_mediaquery.php, 
https://developer.mozilla.org/en-US/docs/Web/CSS/@media and
https://www.w3schools.com/css/css3_mediaqueries.asp taught me about the @media rule,
which allows you to create different styles for different media types / devices used

w3 schools reports that using this query is a popular technique to deliver a responsive web
design to desktops, tablets, phones, etc - which is why i decided to implement it.
because it is a resume, i chose to scale it to fit and viewed in print preview mode
and then be printed on A4 paper, as an employer would maybe do when reviewing an applicant!

i copied the similar structure/layout to my CSS code written above, with some
minor tweaks based on the reccommendations here: https://www.youtube.com/watch?v=9eRj1802p90&ab_channel=UtahTechSE-1400Videos
and https://www.youtube.com/watch?v=PMQUN3SHDJs&ab_channel=TutorialVideo . Using
the intial keyword applies the default (or initial) value of a property of an element as i 
learned here: https://developer.mozilla.org/en-US/docs/Web/CSS/initial */

/* ResponsiveOptionStart */
@media print {
    .page { margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
    }
    .page-break{
      page-break-before: always;
      padding-top:30px;
    }

    body { font-size: 12pt;}
    h1{
      font-size: 23pt;
    }

    h2{
      font-size:10pt;
      width: 3cm;
      padding-left: 10px;
    }

    h3 { font-size: 10pt; line-height:11pt}

    .section-text { font-size: 9pt; line-height: 14pt; }

    .light { font-size: 7.5pt; line-height:12pt; color:#ddd; }
    
    .page { width: 21cm }
    ul {margin:5px 0 0}
    .section { padding: 5px 0 8px }
    .section-text { width: 15cm; margin: 5px 0 5px;}
    .subsection { margin: 5px 0 0 }
    .desc { font-size: 9pt }
    
    .contact-info { font-size: 8pt}
    
    ul.skills{margin: 0 10px 0 0;}
    ul.skills li{ font-size: 9pt; margin-bottom:0}

}
/* ResponsiveOptionEnd */
