/* for the style of my webpage, i liked the idea of a more montone/monochromatic
colour palette. being a rabbit, i settled on shades of green, grey and dark brown (though i chose to use slightly different
colours for the secondary webpages to show variety). I chose typewriter-type fonts because I like it, and because I thought that
because Bugs Bunny was born in the 1940's - he would be familiar with typewriter fonts...
no other justifiable reason, lol. I decided on a mixture of bolded fonts, darker/lighter colours
and lists to establish a hierarchy to the viewer/user to lead their eye around the webpage. 

I decided to use lots of classes, https://www.w3schools.com/cssref/sel_class.php, 
as it seems to be a very popular way to write CSS from what I found
while researching for this project. I did find the CSS portion the most difficult by far, and probably spent
the most amount of time formatting the webpage to look the way it does. The youtube channel "BroCode" aided in a lot of 
what I implemented throughout my CSS which will be specifically mentioned throughout. 

i also watched this tutotial, as mentioned in my HTML code,
to get a better idea of CSS styles and how much variation you have when designing how
your webpage looks. https://www.youtube.com/watch?v=FHb9JobDs2o&ab_channel=WEBCIFAR */

/* css body tag https://www.w3schools.com/tags/tag_body.asp sets up some general attributes for the body section, 
as most browers will display the body element with default values if not specified (as learn in w3 schools) */
body { margin: 0;
       padding: 0;
       background-color: #fff;
       font-size: 12px;
       font-family: 'Courier New', sans-serif;
}
/* i learned that the * sign can be used for css universal selector - selecting any and all types of elemnts in the html
webpage https://www.geeksforgeeks.org/what-is-the-use-of-asterisk-selector-in-css/#:~:text=The%20asterisk%20(*)%20is%20known,the%20elements%20on%20the%20page.,
i am using this * sign for the box sizing property, which allows us to include padding and border in the elements
height and width https://www.w3schools.com/css/css3_box-sizing.asp . 
*/
* { box-sizing: border-box;
   -box-sizing: content-box;
}

/*
breaking down my title/heading, subheading and "sub-subheading" sections to allocate
various style decisions. ~24:00 minute mark in this video breaks down each of the listed
sections in h1/h2/h3 https://www.youtube.com/watch?v=wRNinF7YQqQ&ab_channel=BroCode which
i used to structure my CSS and learn how these style elements work.

I also used my beloved W3 schools with the following links:

*/
h1 { font-weight: 300;
     margin: 5px 0 0;
     font-size: 40px;
     color:#023226;
     padding: 0 10px 10px;
     border-radius:2px;
    font-family: 'Courier New', serif;
}
h2 { color: #057f5f;
     width: 150px;
     font-size: 18px;
     padding-left: 20px;
     padding-top: 12px;
     font-weight:700;
     font-family: 'Courier New', serif;
}
h3 { font-size: 18px;
     font-weight: bold;
     margin-bottom: 0;
     line-height: 28px;
     font-family: 'Courier New', serif;
}
h2, h3 { margin-top: 5px }
a { color: #057f5f;
    display: inline-block;
    text-decoration: none;
    padding:2px 4px;
    border-radius:2px;
    margin-right:-2px;
}

table, th, td {
       border-collapse: seperate;
       padding: 30px;
       border-spacing: 20px;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/border-collapse
https://www.w3schools.com/cssref/pr_border-collapse.php
https://www.digitalocean.com/community/tutorials/how-to-style-a-table-with-css */
table {
       background-color:#E5F6DF;
       width: 100%;
       border: 4px solid #000;
       border-style: outset;       
}
th {
       background-color:#C4A484;
       font-weight: bold;
       text-decoration: underline;
       font-size: 20px;
       border: 3px solid;     
}
td {
       background-color:#FAF0E6;
       font-weight: bold;
       font-size: 18px;
       border: 2px solid;     
}

/* https://www.w3docs.com/snippets/css/how-to-add-border-to-image-in-css.html */ 
img {
        padding: 5px;
        border: 8px solid #E5F6DF;
        background-color: #013220;
}
/* when making my menu at the top of each page, i liked the idea of it changing a different colour
to make sure the reader knows it's a clickable link - implemented through W3 schools tutorial
here https://www.w3schools.com/cssref/sel_hover.php */
a:hover {
  background-color:#FFB6C1;
  color:#fff;
}

/* introducing first and last child selectors, which i first saw on https://www.w3schools.com/cssref/sel_firstchild.php, then researched learning
https://www.youtube.com/watch?v=a69OMEJXaJo&ab_channel=KevinPowell and how it can be utilized, as well as combining classes together  */

.key:first-child { margin-left: 0 }
.key { margin: 0 10px;
       position: relative;
}
.key::before { content: '◆';
               position: absolute;
               left: -15px;
               color: #555;
               font-size: 12pt;
}
/* used for my 'interests' section between the bulleted phrases */
.key:first-child::before { content: '' }
.section { border-bottom: 1px solid #ddd;
           padding: 10px 0 15px;
}
.section:last-child { border: none }
.section-text { width: 80%;
                font-size: 18px;
                line-height: 24px;
                margin: 10px 0 10px;
                padding: 0 10px;
}
.subsection { margin: 10px 0 5px }
.desc { font-size: 16px; font-family: 'Courier New', sans-serif; color:#444;}
/* MenuOption starts */
.contact-info { font-size: 18px;
                text-align: right;
}
/* MenuOption ends */
/* this class is for text that i wanted in a lighter colour font and secondary font style to
contrast the courier new font that is the primary throughout my webpage. i also wanted to make it all
uppercase, to switch things up a little. making the .light class allowed me to
easily switch between different font styles/colour in my html sections */
.light { color: #aaa;letter-spacing:1px;
         font-size: 14px;
         line-height:28px;
         font-family: 'Source Sans Pro', sans-serif;
         text-transform:uppercase;
}
/* beginning my list classes */
ul{
  padding-left:15px;
}
/* class for the listed section under 'skills' - both the padding/margins/spacing etc and the font preferences. once i learned of the
first and last child, https://www.geeksforgeeks.org/how-to-select-first-and-last-td-in-a-row-with-css/, i implemented it in various classes
such as in this list. */
ul.skills{
  float:left;
  width:30%;
  padding-left:0px;
  margin: 0 20px 0 0;
}

ul.skills li{
  list-style: none;
  font-size:16px;
  margin-bottom:10px;
}

ul.skills li:last-child{
  margin:0;
}

/*
 Float Rules: https://developer.mozilla.org/en-US/docs/Web/CSS/float
https://blog.hubspot.com/website/css-float
*/
.row:before, .row:after { content: "";
                          display: table;
}
.row:after { clear: both }
.col { float: left }
.col-right { float: right }

/*
 Page Rules
*/
.page { width: 1000px;
        min-height: 29.7cm;
        margin: 1cm auto;

        background: white;
        padding: 20px 50px;
}
.subpage { padding: 1cm;
           border: 1px red solid;
           height: 297mm;
}
/* setting up page, determining size to be intended for A4 paper (normal
printer paper, 8.5x11) https://www.w3.org/TR/css-page-3/, https://www.geeksforgeeks.org/css-page-rule/, 
https://www.tutorialspoint.com/css/css_paged_media.htm */
@page { size: A4;
        margin: 0;
}

/* when i was learning about responsive screens (which i didn't end up
implementing, i learned about the media option for print. I thought this would be cool to include
as a resume webpage, as employees/yourself may want to print out your resume and you would 
want it to scale to fit your printer paper. i used these sources to write the print CSS section: 
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_media_queries/Using_media_queries, 
https://css-tricks.com/a-complete-guide-to-css-media-queries/
*/
@media print {
       /* https://www.w3schools.com/cssref/pr_border.php i learned about the initial property value, which means
       that it sets this value to it's default, which is already written in your CSS above. this is helpful so you 
       don't need to rewrite all the same values twice. */
    .page { margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
    }
    .page-break{
      page-break-before: always;
      padding-top:30px;
    }

    body { font-size: 12pt;}
    h1{
      font-size: 23pt;
    }

    h2{
      font-size:10pt;
      width: 3cm;
      padding-left: 10px;
    }

    h3 { font-size: 10pt; line-height:11pt}

    .section-text { font-size: 9pt; line-height: 14pt; }

    .light { font-size: 7.5pt; line-height:12pt; color:#ddd; }
    
    .page { width: 21cm }
    ul {margin:5px 0 0}
    .section { padding: 5px 0 8px }
    .section-text { width: 15cm; margin: 5px 0 5px;}
    .subsection { margin: 5px 0 0 }
    .desc { font-size: 9pt }
    
    .contact-info { font-size: 8pt}
    
    ul.skills{margin: 0 10px 0 0;}
    ul.skills li{ font-size: 9pt; margin-bottom:0}

}
